@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Staatliches&display=swap');
#display-ad{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)),url("/images/displayaddimage.jpeg");
    background-size: cover;
    background-position: center;
}
#ad-list{
    font-family: 'Bungee Spice', cursive;
}
