@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Staatliches&display=swap');
h1{
    font-family: 'Bungee Spice', cursive;
}

#baby-chicks{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)),url("/images/babychicks.jpeg");
    background-size: cover;
    background-position: center;
}

.username1{
    font-family: 'Bungee Spice', cursive;
}
.password2{
    font-family: 'Bungee Spice', cursive;
}
