@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Staatliches&display=swap');

h1{
    font-family: 'Bungee Spice', cursive;
}
.newpassword{
    font-family: 'Bungee Spice', cursive;
}
.newusername{
    font-family: 'Bungee Spice', cursive;
}
.newemail{
    font-family: 'Bungee Spice', cursive;
}
.confirmpassword{
    font-family: 'Bungee Spice', cursive;
}
#updateprofileimage{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.75)),url("/images/updateprofileimage.jpeg");
    background-size: cover;
    background-position: center;
}